

<div class ="bground">
	<div class="row">
  		<div class="col-md-4"><img src="images/twitter.png" alt="logo twitter" id="twitter"/></div>
  		<div class="col-md-4"><img src="images/fb.png" alt="logo fb" id="fb"/></div>
  		<div class="col-md-4"><img src="images/mail4.png" alt=" logo mail" id="mail"/></div>
  		<div class="col-md-4"><img src="images/linkedin2.png" alt=" logo linkedind" id="linkedin"/></div>
  		<div class="col-md-4"><img src="images/github.png" alt=" logo github" id="github" class="img-circle"/></div>
 		<div class="col-md-4"><img src="images/bitbucket.png" alt=" logo bitbucket" id="bitbucket"/></div>
	</div>
</div>