

<div class ="bground">
	<div class="row">
  		<div class="col-md-4"><a href="https://twitter.com/julie_alary"><img src="images/twitter.png" alt="logo twitter" id="twitter"/></a></div>
  		<div class="col-md-4"><a href="https://www.facebook.com/julie.alary1"><img src="images/fb.png" alt="logo fb" id="fb"/></a></div>
  		<div class="col-md-4"><a href="mailto:julie.alary@gmail.com"><img src="images/mail4.png" alt=" logo mail" id="mail"/></a></div>
  		<div class="col-md-4"><a href="https://www.linkedin.com/in/juliealary?trk=nav_responsive_tab_profile"/><img src="images/linkedin2.png" alt=" logo linkedind" id="linkedin"/></a></div>
  		<div class="col-md-4"><a href="https://github.com/JulieAlary"><img src="images/github.png" alt=" logo github" id="github" class="img-circle"/></a></div>
 		<div class="col-md-4"><a href="https://bitbucket.org/Ju31/"><img src="images/bitbucket.png" alt=" logo bitbucket" id="bitbucket"/></a></div>
	</div>
</div>