
		<div class="jumbotron text-center">
			<h1> Web conceptrice en devenir </h1>
		</div>

		<div class = "container-fluid section2 text-center">
			<h3>Précédemment Responsable dans la vente <br/>je souhaite aujourd'hui me reconvertir dans le développement web<br/>domaine me passionnant depuis l'enfance</h3>
		</div>
			<div class="container-fluid">
		<div class="row mon_parcours">
			<div class="col-md-6 text-center">
				<h3>Mon parcours</h3>
			</div>
			<div class="col-md-6">	
				<a href="http://localhost:3000/parcours"><img src="images/evolution_informatique.jpg" id="img_evolution_informatique" alt="evolution de l'homme" class="img-responsive"/></a>
			</div>
		</div>
	</div>

		<div class="container-fluid explications">
			<h3> Le site sera en constante évolution au gré de mon apprentissage et des diverses réalisations effectuées</h3>
		</div>
		
		<div class="container-fluid">
		<div class="row outil">
			<h1> Site réalisé avec : </h1>
			<div class="col-xs-4 col-md-4">
				<p> Framework</p>
				<a href="http://rubyonrails.org"><img src="images/rails-logo.svg" alt="logo RoR" id="Logo_ror"class="img-responsive"alt="logo-rails" /></a>
			</div>

			<div class="col-xs-4 col-md-4">
				<p>Languages</p>
				<img src="images/HTML5_CSS3_Logos.svg"class="img-responsive"alt="logo html css"/>
			</div>
			<div class="col-xs-4 col-md-4">
				<p>Librairie JavaScript</p>
				<a href="http://jquery.com"><img src="images/jQuery.gif"class="img-responsive" id="logo_jquery2" alt="logo JQuery"/></a>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<a href ="http://getbootstrap.com"><img src="images/Boostrap_logo.svg"class="img-responsive" id="logo_boostrap" alt="Logo Boostrap"/></a>
			</div>
		</div>
	</div>




	 

