<div class="main_home">
	<div class="entete">
		<h1> Web conceptrice en devenir </h1>
	</div>

	<div class = "presentation">
		<h3>Précédemment Responsable dans la vente <br/>je souhaite aujourd'hui me reconvertir dans le développement web<br/>domaine me passionnant depuis l'enfance</h3>
	</div>
	<div class="mon_parcours">
		<div class="col-md-6">
			<h3>Mon parcours</h3>
		</div>
		<div class="col-md-6">	
			<a href="http://localhost:3000/parcours"><img src="images/evolution_informatique.jpg" class="img_evolution_informatique" alt="evolution de l'homme"/></a>
		</div>
	</div>
	<div class="explications">
		<h3> Le site sera en constante évolution au gré de mon apprentissage et des diverses réalisations effectuées</h3>
	</div>
	<div class="outil">
		<h1> Site réalisé avec : </h1>
		<div class="col-md-4">
			<p> Framework</p>
			<a href="http://rubyonrails.org"><img src="images/rails-logo.svg" alt="logo RoR" class="Logo_ror"/></a>
		</div>
		<div class="col-md-4">
			<p>Languages</p>
			<img src="images/HTML5_CSS3_Logos.svg"/>
		</div>
		<div class="col-md-4">
			<p>Librairie JavaScript</p>
			<a href="http://jquery.com"><img src="images/jQuery.gif" class="logo_jquery2" alt="logo JQuery"/></a>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<a href ="http://getbootstrap.com"><img src="images/Boostrap_logo.svg" class="logo_boostrap" alt="Logo Boostrap"/></a>
		</div>
	</div>
</div>	





 

