<div class="container-fluid section_cv"id="cv">
	<div class="row title_cv">
		<div class="col-xs-6 col-md-6">
			<h3>Mon Cv</h3>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="flip5">
				<i class="fa fa-file-text-o"></i>
			</div>
		</div>
	</div>
	<div class="row upload_cv">
		<div class="col-md-4 col-md-offset-4">
			<button type="button" class="btn btn-default btn-lg btn-block ">
				<a href="/pdf/CV-Julie-Alary-2016.pdf">Download CV PDF</a>
			</button>
		</div>
	<div class ="row arrow1">
		<div class="col-md-4 col-md-offset-4">
			<p><a href="#codecademy"><i class="fa fa-arrow-down"></i></a></p>
		</div>
	</div>


	</div>
         <div class="panel5">
			<div class="panel_content">	
				<div class="entete_cv">
    				<h1>Julie Alary</h1>
						<h4>En reconversion professionnelle
							Apprentissage de html, css, ruby, utilisation de cms</h4>
    			</div>
    				<div class ="row cv_grid">
    					<div class="col-md-4">
    						<div class ="exprience">
    							<h4>Expériences</h4>
    							<div class="deleguee">
    								<h6>DELEGUEE COMMERCIALE : aout 2015 à février 2016</h6>
 									Commerciale pour une maison d'édition : phonning, prise de rendez-vous, vente directe, reporting.
 									<br/>
 								</div>
 								<div class="croissanterie">
 									<h6>RESPONSABLE DES VENTES : 2013-aujourd'hui</h6>
									Management d'une équipe de 10 vendeurs (recrutement, planning, formation) répartis sur deux points de vente, gestion des stocks (commandes, inventaires), gestion de la caisse (remise en banque), dynamisation des ventes (techniques de vente, opérations de fidélisation, mise en valeur de l'espace de vente).Enseigne La Croissanterie (restauration rapide), Portet sur Garonne.
									<br/>
								</div>
								<div class="internity">
									<h6>RESPONSABLE POINT DEVENTE : 2008-2012</h6>
									Conception et mise en place de l'organisation de l'unité de vente (management,formation, planning...) agencement et mise en valeur de l'espace de vente, suivi des stocks ( commandes, inventaires), gestion de la caisse (comptage et remise en banque), gestion du Service Après Vente ( maintenance informatique en boutique ou via une plateforme dédiée), mise en place de diverses actions de communication avec des partenaires locaux. Enseigne Internity (téléphonie, multimédia), Castres.
									<br/>
								</div>
								<div class="mcdo">
									<h6>MANAGER DE LA RESTAURATIONRAPIDE: 2006-2008</h6>
									Management d'une équipe de 10 à 25 équipiers, gestion opérationnelle du terrain, connaissance des règles d'hygiènes, gestion des écarts-rendement, comptage et remise en banque, formation des équipes. Enseigne McDonald's, Castelnaudary.
									</br>
								</div>
							<h4>Autres : </h4>
								<div class="autre">
									<h6>Animatrice diplômée:</h6> 
									vacances scolaires 2002 à 2006
									Encadrement et animation de groupes d'enfants de 3 à 16 ans. Centre de loisirs de Besplas, Villassavary.
								</div>	
							</div>
						</div>
  						<div class="col-md-4">
  							<br/>
  							<h4>Compétences Management</h4>
  								<p>Techniques de vente et merchandising</p>
								<p>Gestion comptable et administrative</p>
								<p>Modalité d'accueil client</p>
								<p>Règles de gestion de stocks</p>
								<p>Management d'une équipe</p>
								<p>Législation sociale et droit commercial</p>
								<p>phonning</p>
								<p>Maîtrise de l'outil informatique (utilisation et maintenance)</p>

  							<h4>Compétences Informatique</h4>
  								<p>HTML5 / CSS3</p>
  								<p>Ruby on rails - niveau intermédiaire</p>
  								<p>JavaScript / jQuery - niveau débutant</p>
  								<p>Java - niveau débutant</p>
  								<p>PHP / Sql - niveau débutant</p>
  								<p>Git</p>

						</div>
  						<div class="col-md-4">
  							<br/>
  							<h4>Formation</h4>
  								<p>DEUG Géographie 2005 (non obtenu) - Univerisité Toulouse II (31)<p>
  								<p>Baccalauréat Economie 2002 - Lycée Paul Sabatier Carcassonne (11)<p>
  							<div class="divers">
  							<h4>Divers</h4>
  								<p>Permis B</p>
  								<p>Langues parlées : Anglais, Espanol - niveau scolaire</p>
  							</div>
  							<div class="hobbies">
  							<h4>Passion / Hobbies</h4>
  								<p>Snowboard</p>
  								<p>Musique : guitare, djjing</p>
  								<p>Sorties culturelles : théatre, expositions, cinéma</p>
  								<p>Voyages</p>
  							</div>
  						</div>
            		</div>
				</div>
         	</div>
         </div>	
</div>
<!------------------------------------------------------------------------>
<div class="container-fluid section_logo"id="codecademy">
	<div class="row codecademy">
		<div class="col-xs-12 col-md-12">
			<h3> Courses done @ Codecademy</h3>
				<a href="https://www.codecademy.com/fr/users/julie_alary/achievements"><img src="images/logo_codeCademy.png" class="img-responsive img_codecademy"/></a>
			</div>
	</div>
	<div class="row logo_langages">
		<div class="col-xs-2 col-md-2">
			<img src="images/html5.png" alt="logo html5 " class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/css3.png" alt="logo css3 " class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/JS.png" alt="logo javascript" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/php.png" alt="logo php5" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/jQuery.gif" width="75px"alt="logo jquery" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/logoRuby.png" width="75px" alt="logo ruby" class="img-responsive"/>
		</div>
	</div>
	<div class="row logo_langage2">
		<div class="col-xs-2 col-md-2">
			<img src="images/rails-logo.svg" width="75px" alt="logo ruby on rails" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/logo_git.png" width="75px" alt="logo git" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/Boostrap_logo.svg" width="75px" alt="logo boostrap" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/angularjs.svg" width="75px" alt="angular" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/java.svg" width="75px" alt="logo java" class="img-responsive"/>
		</div>
		<div class="col-xs-2 col-md-2">
			<img src="images/mysql.svg" width="75px" alt="logo git" class="img-responsive"/>
		</div>
	</div>
	<div class="row arrow2">
		<div class="col-md-4 col-md-offset-4">
			<p><a href="#open"><i class="fa fa-arrow-down"></i></a><a href="#cv"><i class="fa fa-arrow-up"></i></a></p>
		</div>
	</div>
</div>


<div class="container-fluid section_open"id="open">	
	<h3> Certificats de réussite OpenClassRoom</h3>
	<br/>
	<a href="https://openclassrooms.com/"><img src="images/logo_openClassRoom.png" alt"logo OpenClassRoom" class="img-responsive img_open"/></a>
	<br/>
	<br/>
	<br/>

<div class= "row certif">
	<div class="col-xs-6 col-md-6">
		<div class="flip">Apprenez à créer votre site web avec HTML5 et CCS3<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel"><img src="images/certificat_html_css.jpg"class="img-responsive"/></div>
	</div>

	<div class="col-xs-6 col-md-6">
		<div class="flip2">Concevez votre site avec PHP et MySQL<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel2"><img src="images/certificat_PHP_MySQL.jpg"class="img-responsive"/></div>
	</div>

	<div class="col-xs-6 col-md-6">
		<div class="flip3">Gérer son code avec Git et Github<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel3"><img src="images/certificat_git_github.jpg"class="img-responsive"/></div>
	</div>
</div>
<div class="row arrow3">
		<div class="col-md-4 col-md-offset-4">
			<p><a href="#cv"><i class="fa fa-arrow-up"></i></a></p>
		</div>
</div>
</div>
