<div class="section_logo">
<h3> Badges obtenus @ Codecademy</h3>
<br/>
	<a href="https://www.codecademy.com/fr/users/julie_alary/achievements"><img src="images/logo_codeCademy.png" class="img_codecademy"/></a>
<br/>
<br/>
<div class="row">	
	<div class="col-md-3">
		<img src="images/html5.png" alt="logo html5 " class="logo_html5"/>
	</div>
	<div class="col-md-3">
		<img src="images/logo_css3.png" alt="logo css3 " class="logo_css3"/>
	</div>
	<div class="col-md-3">
		<img src="images/logo_javascript.png" alt="logo javascript" class="logo_javascript"/>
	</div>
	<div class="col-md-3">
		<img src="images/logo_php5.png" alt="logo php5" class="logo_php5"/>
	</div>
	<div class="col-md-3">
		<img src="images/jQuery.gif" alt="logo jquery" class="logo_jquery"/>
	</div>
	<div class="col-md-3">
		<img src="images/logoRuby.png" alt="logo ruby" class="logo_ruby"/>
	</div>
	<div class="col-md-3">
		<img src="images/RoR.jpg" alt="logo ruby on rails" class="logo_ror"/>
	</div>
	<div class="col-md-3">
		<img src="images/logo_git.jpg" alt="logo git" class="logo_git"/>
	</div>
</div>
<br/>
<br/>	
</div>
<br/>
<br/>
<br/>

<div class="section_open">	
	<h3> Certificats de réussite OpenClassRoom</h3>
	<br/>
	<a href="https://openclassrooms.com/"><img src="images/logo_openClassRoom.png" alt"logo OpenClassRoom" class="img_open"/></a>
	<br/>
	<br/>
	<br/>

<div class= "row">
	<div class="col-md-6">
		<div class="flip">Apprenez à créer votre site web avec HTML5 et CCS3<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel"><img src="images/certificat_html_css.jpg"/></div>
	</div>

	<div class="col-md-6">
		<div class="flip2">Concevez votre site avec PHP et MySQL<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel2"><img src="images/certificat_PHP_MySQL.jpg"/></div>
	</div>

	<div class="col-md-6">
		<div class="flip3">Gérer son code avec Git et Github<br/>Certificat de réussite OpenClassRoom</div>
		<div class="panel3"><img src="images/certificat_git_github.jpg"/></div>
	</div>
</div>
</div>

