<div class ="container-fluid container1">
    <div id="cont1">
        <section class="cd-intro">
            <div class="cd-intro-content bouncy">
                <div class="row">
                    <div class="col-md-6">
                        <p>Vous trouverez ici l'ensemble de mes travaux</p>
                    </div>
                    <div class="col-md-6">
                        <h1>MES REALISATIONS</h1>
                    </div>
                </div>
                <div class="row action-wrapper">
                    <div class="col-md-6">
                        <h6>Conception Site</h6>
                            <a href="#cont" class="cd-btn main-action"><img src ="/images/white_pc.gif"class="img-responsive"  id="icone_site_builder"></a>
                    </div>
                    <div class="col-md-6">	
                        <h5>Créations diverses</h5>
                            <a href="#cont" class="cd-btn"><img src="/images/pink_invaders.gif"class="img-responsive" id="pink_invader"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="container-fluid container2">
    <div id="cont">
        <h1> SOON...STAY CONNECTED....</h1>
            <div class="row folio_anim">
                <div class="view view-first">
                    <img src="/images/santigold.jpg"class="img-responsive"alt="santigold"></a>  
                        <div class="mask">
                            <h2>One Page Site</h2>
                            <p>A tribute page about the artist Santigold (an exercice for FreeCodeCamp)</p>
                            <a href="https://s.codepen.io/Julie31/debug/rezxGd" class="info">See the Site</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="/images/random.jpg"class="img-responsive" alt="random quote"/>
                        <div class="mask">
                            <h2>Random Lyrics</h2>
                            <p>A random lyric about Santigold's (An excercice for FreeCodeCamp about random quote generator)</p>
                            <a href="http://s.codepen.io/Julie31/debug/yOzyaV" class="info">See the generator</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="/images/portfolio.jpg" alt="portfolio" class="img-responsive" />
                        <div class="mask">
                            <h2>One page Portfolio</h2>
                            <p>A one page portofolio about myself (an exercice for FreeCodeCamp)</p>
                            <a href="http://s.codepen.io/Julie31/debug/EKvyEm" class="info">See the Portfolio</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="/images/gif_mysteres_de_l'amour.gif" /> 
                        <div class="mask">
                            <h2>A funny gif</h2>
                            <p>Made with Giphy - Just for fun...</p>
                            <a href="http://giphy.com/gifs/gNGXnJgqKP5uw/fullscreen" class="info">See full screen</a>
                        </div>
                </div>
            </div>
            <div class="row folio_anim2">
                <div class="view view-first">
                    <img src="/images/pink_invaders.gif" />
                        <div class="mask">
                            <h2>Creation Sprite</h2>
                            <p>Creation de sprite avec piskel</p>
                            <a href="http://www.piskelapp.com" class="info">Piskel</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="" alt="" class="" />
                        <div class="mask">
                            <h2>Soon Other project</h2>
                            <p>blabla</p>
                            <a href="#" class="info">See Soon</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="" alt="" class="" />
                        <div class="mask">
                            <h2>Soon Other project</h2>
                            <p>blabla</p>
                            <a href="#" class="info">See Soon</a>
                        </div>
                    </div>
                <div class="view view-first">
                    <img src="" alt="" class="" />
                        <div class="mask">
                            <h2>Soon Other project</h2>
                            <p>blabla</p>
                            <a href="#" class="info">See Soon</a>
                        </div>
                    </div>

            </div>
    <!-- </div>  -->
        <div class="row last_section">
            <div class="col-xs-6"><p>
                <a href="#cont3">
                    <span class=""></span>
                    </a>
                </p>
            </div>
            <div class="col-xs-6"><p>
                <a href="#cont1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


  

    <div class="invaders_animation">
        <a href="http://www.piskelapp.com/user/5247310938243072/public" onclick="window.open(this.href); return false;"><img id="invaders" src="./images/first_gif.gif" width="150px" alt="blue invaders" data-toggle="tooltip" data-placement="left" title="Invader designed with Piskel"></a>
    </div>


    <!--<div class="row site">
                    <div class="col-xs-4 col-md-4">
                        <a href="https://codepen.io/Julie31/full/rezxGd/"><img src="/images/santigold.jpg"class="img-responsive"alt="santigold"></a>  
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <a href="http://s.codepen.io/Julie31/debug/yOzyaV"><img src="/images/random.jpg"class="img-responsive" alt="random quote" ></a>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <a href="http://s.codepen.io/Julie31/debug/EKvyEm"><img src="/images/portfolio.jpg" alt="portfolio" class="img-responsive">
                    </div>
            </div>
                <!--
                <div class="row site2">
                    <div class="col-xs-4 col-md-4">
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTNlNzYzMWEwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1M2U3NjMxYTA1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjcxODc1IiB5PSI3NC41MzI4MTI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+"class="img-responsive">
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTNlNzYzMWEwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1M2U3NjMxYTA1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjcxODc1IiB5PSI3NC41MzI4MTI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="..." class="img-responsive">
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTNlNzYzMWEwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1M2U3NjMxYTA1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjcxODc1IiB5PSI3NC41MzI4MTI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="..." class="img-responsive">
                    </div>
                </div> ---->


