<div class ="container1">
	<section class="cd-intro">
		<div class="cd-intro-content bouncy">
			<h1>MES REALISATIONS</h1>
			<p>Vous trouverez ici l'ensemble de mes travaux</p>
			<div class="action-wrapper">
				<a href="#0" class="cd-btn main-action">Pas encore déterminé</a>
				<a href="#0" class="cd-btn">Non plus</a>
			</div>
		</div>
	</section>
</div>

<div class="mystere_de_lamour">
		<img alt= "gif mystères de l'amour" class="img_mystere" src="/images/gif_mysteres_de_l'amour.gif" alt="gif mysteres de l'amour"/>
</div>

<div class="invaders_animation">
		<a href="http://www.piskelapp.com/user/5247310938243072/public" onclick="window.open(this.href); return false;"><img id="invaders" src="./images/first_gif.gif" width="150px" alt="blue invaders" title="Designed with PISKEL"></a>
</div>



