<div class ="container1">
	<div id = "portfolio_header">
		</div>
			
		

		<div class="mystere_de_lamour">
			<img alt= "gif mystères de l'amour" src="/images/gif_mysteres_de_l'amour.gif" alt="gif mysteres de l'amour"/>
		</div>

		
		<a href="http://bisounours.simplon.co/" onclick="window.open(this.href); return false;"><img id="invaders" src="./images/first_gif.gif" width="150px" alt=""></a>
		<script>
    	$(document).ready(function() {
        $('.js-scrollTo').on('click', function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 800; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
        });
    });
</script>
</div>

	





