@import "bootstrap-sprockets";
@import "bootstrap";

/*
    1   =>  Universal
    2   =>  Typography
    3   =>  Header
    4   =>  Page home
    5   =>  Page Portfolio
    4   =>  Footer
    5   =>  Page Contact
    6   =>  Navigation  
    7   =>  Page Parcours/section openclassroom
    8   =>  Page Parcours/section codecademy
    9   =>  Page Portfolio
    


/*--------------------------- universal----------------------------------- */

body {
  padding-top: 40px;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

/* ----------------------------typography--------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3.0em;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
h3 {
  text-align: center;
  font-size: 2.4em;
}
h4 {
  font-size:1.8em;
  padding-top: 20px;
}

h5 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-transform: lowercase;
}
/* -------------------------header---------------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;}
    
#logo:hover {
  color: black;
  text-decoration: none;
}    
/*-----------------------Page home----------------------------------------------*/

            /***------en tete----*****/
.jumbotron {
  height: 800px;
  margin-top:20px;
  background: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/54.JPG)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    h1 {
      color:#42BFD1;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
      padding-top: 20%;
    }
  }
                  /****----presentation------****/
  .section2 {
    background-color: #222222;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    margin-top: -30px;
    padding-bottom: 10px;
}
                  /***-------Parcours------*****/
.mon_parcours {
    height:400px;
    background: url('/images/road.jpg')
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#img_evolution_informatique {
  border-radius: 5px;
  margin: 0 auto;
  opacity:0.8;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
.mon_parcours h3 {
      padding-top:5%;
      color:#42BFD1;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
}
.mon_parcours .col-md-6 {
    padding-top:10%;
}
                        /***-------Outils------**/
.explications {
    background-color:#222222;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    padding-top: 5px;
    padding-bottom: 40px;
}
.outil {
  margin-top: -20px;
  background: url('/images/bois.jpeg')
  no-repeat center center fixed; 
  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:#42BFD1;
  .col-md-4{
    padding-top: 70px;
    text-align: center;
    color:black;
    img{
      padding-top:20px;
      width:150px;
      margin:0 auto;
    }
  }
}
.outil h1 {
  padding-top: 50px;
  text-shadow:5px 5px 10px black;
  text-transform: uppercase;
}
.col-md-4 p {
  text-transform: uppercase;
  text-shadow:5px 5px 10px #42BFD1;
  font-weight: bold;
}

#logo_boostrap {
  max-width: 100px;
}
/*------------------------------------ Page Portfolio------------------------------------------------*/

              /*--------------param conatainer -------------*/
.container1{
  height: 800px;
  margin-top: 20px;
  background: url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.folio_anim {
  padding-top: 50px;
}

              /*------------Animation de texte--------------*/
.cd-intro-content h1,h6,h5
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.cd-intro-content  h1 {
  padding-top: 30px;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
}
.cd-intro-content  h6 {
  color: #42BFD1;
  font-size: 1em;
  padding-top:200px;
  margin-left: 40px;
}
.cd-intro-content  h5 {
  color: #42BFD1;
  margin-top:200px;
}
.cd-intro-content p {
  padding-top: 100px;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align:center;
}
.bouncy.cd-intro-content h6{
  animation-name: cd-bounce-right;
}
.bouncy.cd-intro-content h5{
  animation-name: cd-bounce-left;
}
.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}
 
.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}
 
.bouncy.cd-intro-content h1,h5,h6,
.bouncy.cd-intro-content p {
  animation-duration: 0.6s;
}
 
.bouncy.cd-intro-content .img-responsive {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.9s;
}
#icone_site_builder {
  width:400px;
  margin-top:-200px;
  margin-left:50px;
}
#pink_invader {
  width:300px;
  margin-top:-200px;
}
 
.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
  padding-left: 500px;
}
 
@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);

  }
}
@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

/*-------anim et param icone portfolio------*/
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #42BFD1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;

}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 0.9;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
        .view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 1px solid #42BFD1;
    border-radius:5px;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #42BFD1;
   -moz-box-shadow: 1px 1px 2px #42BFD1;
   box-shadow: 1px 1px 2px #42BFD1;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-size: 12px;
   position: relative;
   color: black;
   padding: 10px 20px 20px;
   text-align: center;
   text-transform: capitalize;
   font-weight: bold;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
        


                /*--------Animation Invaders--------*/
#invaders {
    position: absolute;
    -webkit-animation: invaders 20s 1 ease-in forwards;
    animation: invaders 20s 1 ease-in forwards;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: invaders;
}
@keyframes invaders{
0% {
    bottom: -10%;
    left: 30%;
    -webkit-transform: rotate(-10deg);
}
40% {
    transform: rotate(0deg);
}
60% {
    transform: rotate(-8deg);
}
80% {
    transform: rotate(0deg);
}
100% {
    bottom: 110%;
    left: 60%;
    transform: rotate(8deg);
}
}
/*------------------deco site en constreuction portfolio-------------------*/
.container2 h1 {
  padding-top: 100px;
  color:#42BFD1;
  text-shadow:5px 5px 10px black;
}
.container2 {
  background:url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:900px;
}
.container2 img {
  height:200px;
  width:300px;
}
.site {
  padding-top:50px;
}
.last_section, .site4 {
  text-align:center;
  text-shadow:5px 5px 10px black;
  font-size: 3em;
}
.last_section a, .site4 a{
  color:#42BFD1;
}

 

/*****-------------------Pages parcours--------------------------**************/

              /**---------partie cv----------***/
                    /*param general*/
.section_cv  h3 {
  background-color: #222222;
  color: #42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}
.section_cv {
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.foot_section {
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: #222222;
  color: #42BFD1;
  height:30px;
}
                      /*mise en page*/
.panel5, .flip5 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel5 {
    display: none;
    margin-top: -40px;
}
.flip5 {
   margin-top:-10px;
}
.logo_cv {
  width: 150px;
}
.panel5 {
  background: url('/images/dark_background.jpg')no-repeat fixed;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
  height: 1200px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}
.panel5 .col-md-4 p {
  text-transform: capitalize;
  text-shadow:5px 5px 10px #42BFD1;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color : black;

}
.panel5 .col-md-4 h6 {
  color:black;
  font-size:1.2em;
}
.panel5 h4{
  text-shadow:5px 5px 10px #42BFD1;
  color:black;
  padding-bottom: 20px;
}
.deleguee {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1;
}
.col-md-4 .exprience h4{
  margin-top: 20px;
}
.col-md-4 .divers h4 {
  margin-top: 27px;
}
.internity {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.croissanterie {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
 color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.mcdo {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.autre {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
              /*--------------section openClassRoom--------------*/
.section_open > h3:nth-child(1){
  background-color: #222222;
  color:#42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}

.img_open {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.img_codecademy {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
}

.panel, .flip, .panel2, .flip2, .panel3, .flip3 {
    padding: 5px;
    text-align: center;
    border: solid 1px black;
    max-width: 600px;
    background-color: #222222;
    color: #42BFD1;
   
}
.panel, .panel2, .panel3 {
    padding: 50px;
    display: none;
    margin-bottom: 10px;
}
.flip, .flip2, .flip3 {
   border-radius: 5px 5px 0px 0px;
   margin-bottom: 10px;
}
.section_open {
  border-radius: 10px 10px 0px 0px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
                    /*-----------logo langages page parcours----------*/
.section_logo > h3:nth-child(1){
  background-color: #222222;
  color:#42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}
.img_codecademy{
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.logo_javascript{
  max-width: 110px;
  margin-top: -5px;
  height: 110px;
  
}
.logo_html5 {
  max-width: 100px;
  
}
.logo_css3 {
  max-width: 100px;
  
}
.logo_jquery {
  max-width: 100px;
  margin-top: 30px;
  
}
.logo_php5 {
  max-width: 80px;
  max-height: 110px;
}
.logo_ruby {
  max-width: 100px;
  margin-top: 30px;
}
.logo_ror {
  max-width: 100px;
  margin-top: 30px;
  max-height: 100px;
}
.logo_git {
  max-width: 100px;
  margin-top: 30px;
}
div.row:nth-child(6) {
  text-align: center;
}
.section_logo {
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.foot_codecademy{
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: #222222;
  color: #42BFD1;
  height:30px;
}

/*---------------------------Page contact ------------------------------*/
.bground {
  
  background-image: url('/images/white_blue.jpg');
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 1100px;
    .row {
      padding-top: 130px;
    }
  }

.row img {
  width:300px;
}

#github {
  padding-top: 90px;
  padding-left: 40px;
  width: 300px;
}

#bitbucket {
  width: 250px;
  padding-left: 40px;
  padding-top: 30px;
}

div.col-md-4:nth-child(1) {
  margin-top: 10px ;
}

#contact_head {
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  background-color: #222222;
  color: #42BFD1;
  height:190px;
}

.panel4, .flip4 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel4 {
    display: none;
    margin-top: -40px;
}
.flip4 {
   margin-top:-10px;
}
/*----------------------------- footer -----------------------------------*/
footer {
  border: 1px solid black;
  background-color: #222222;
  color: #42BFD1;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  height:50px;
  text-align: center;
}
footer p{
text-transform: capitalize;
}
footer a {
  color: #42BFD1;
}
footer a:hover {
  color: black;
  text-decoration: none;
}
footer small {
  float: center;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
/*------------------navigation------------------------------------------*/
.navbar-inverse{
  border: hidden;
  background-color: #222222;
  opacity: 0.9;
}
#logo{
  color: #42BFD1;
}
.navbar-inverse .navbar-nav > li > a {
  color: #42BFD1; 
  letter-spacing: 3px;
  padding: 20px;
}

.nav > li:nth-child(1) > a:hover{
  color:black;
}
.nav > li:nth-child(2) > a:hover{
  color:black;
}
.nav > li:nth-child(3) > a:hover{
  color:black;
}
.nav > li:nth-child(4) > a:hover{
  color:black;
}
/*------------------test---------------------------*/

