@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
    1   =>  Universal
    2   =>  Typography
    3   =>  Header
    4   =>  Page home
    5   =>  Page Portfolio
    4   =>  Footer
    5   =>  Page Contact
    6   =>  Navigation  
    7   =>  Page Parcours/section openclassroom
    8   =>  Page Parcours/section codecademy
    9   =>  Page Portfolio

/*--------------------------- universal----------------------------------- */

body {
  padding-top: 40px;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

/* ----------------------------typography--------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3.0em;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
h3 {
  text-align: center;
  font-size: 2.4em;
}
h4 {
  font-size:1.8em;
  padding-top: 20px;
}

h5 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  /*text-transform: lowercase;*/
}
/* -------------------------header---------------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;}
    
#logo:hover {
  color: black;
  text-decoration: none;
}    
/*-----------------------Page home----------------------------------------------*/

            /***------en tete----*****/
.jumbotron {
  height: 800px;
  margin-top:20px;
  background: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/54.JPG)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    h1 {
      color:#42BFD1;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
      padding-top: 20%;
    }
  }
                  /****----presentation------****/
  .section2 {
    background-color: #222222;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    margin-top: -30px;
    padding-bottom: 10px;
}
                  /***-------Parcours------*****/
.mon_parcours {
    height:400px;
    background: url('/images/road.jpg')
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#img_evolution_informatique {
  border-radius: 5px;
  margin: 0 auto;
  opacity:0.8;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  width:300px;
}
.mon_parcours h3 {
      padding-top:5%;
      color:#42BFD1;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
}
.mon_parcours .col-md-6 {
    padding-top:10%;
}
                        /***-------Outils------**/
.explications {
    background-color:#222222;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    padding-top: 5px;
    padding-bottom: 40px;
}
.outil {
  margin-top: -20px;
  background: url('/images/bois.jpg')
  no-repeat center center fixed; 
  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:#42BFD1;
  .col-md-4{
    padding-top: 70px;
    text-align: center;
    color:black;
    img{
      padding-top:20px;
      width:150px;
      margin:0 auto;
    }
  }
}
.outil h1 {
  padding-top: 50px;
  text-shadow:5px 5px 10px black;
  text-transform: uppercase;
  color:#42BFD1;
}
.outil_title p {
  text-transform: uppercase;
  text-shadow:5px 5px 10px #42BFD1;
  font-weight: bold;
}
#logo_boostrap {
  max-width:90px;
}
#logo_jquery2 {
  width:100px;
}

/*------------------------------------ Page Portfolio------------------------------------------------*/

              /*--------------param conatainer -------------*/
.container1{
  max-height: 1000px;
  margin-top: 20px;
  background: url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.folio_anim {
  padding-top: 50px;
}

              /*------------Animation de texte--------------*/
.cd-intro-content h1,h6,h5
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.cd-intro-content  h1 {
  padding-top: 30px;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
}
.cd-intro-content  h6 {
  color: #42BFD1;
  font-size: 1em;
  padding-top:200px;
  margin-left: 40px;
}
.cd-intro-content  h5 {
  color: #42BFD1;
  margin-top:200px;
}
.cd-intro-content p {
  padding-top: 100px;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align:center;
}
.bouncy.cd-intro-content h6{
  animation-name: cd-bounce-right;
}
.bouncy.cd-intro-content h5{
  animation-name: cd-bounce-left;
}
.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}
 
.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}
 
.bouncy.cd-intro-content h1,h5,h6,
.bouncy.cd-intro-content p {
  animation-duration: 0.6s;
}
 
.bouncy.cd-intro-content .img-responsive {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.9s;
}
#icone_site_builder {
  width:200px;
  margin-top:-200px;
  margin-left:100px;
}
#pink_invader {
  width:300px;
  margin-top:-200px;
}
 
.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
  padding-left: 500px;
}
 
@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);

  }
}
@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

/*-------anim et param icone portfolio------*/
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color:#222222;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 0.9;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 1px solid #42BFD1;
    border-radius:5px;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px black;
   -moz-box-shadow: 1px 1px 2px black;
   box-shadow: 1px 1px 2px black;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #222222;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: #42BFD1;
   margin: 20px 0 0 0;
}
.view p {
   font-size: 12px;
   position: relative;
   color: #42BFD1;
   padding: 10px 20px 20px;
   text-align: center;
   text-transform: capitalize;
   font-weight: bold;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #42BFD1;
   color: #222222;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px black;
   -moz-box-shadow: 0 0 1px black;
   box-shadow: 0 0 1px black;
}
.view a.info:hover {
   webkit-box-shadow: 0 0 5px black;
   -moz-box-shadow: 0 0 5px black;
   box-shadow: 0 0 5px black;
}
        


                /*--------Animation Invaders--------*/
#invaders {
    position: absolute;
    -webkit-animation: invaders 20s 1 ease-in forwards;
    animation: invaders 20s 1 ease-in forwards;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: invaders;
}
@keyframes invaders{
0% {
    bottom: -10%;
    left: 30%;
    -webkit-transform: rotate(-10deg);
}
40% {
    transform: rotate(0deg);
}
60% {
    transform: rotate(-8deg);
}
80% {
    transform: rotate(0deg);
}
100% {
    bottom: 110%;
    left: 60%;
    transform: rotate(8deg);
}
}
/*------------------deco site en constreuction portfolio-------------------*/
.container2 h1 {
  padding-top: 100px;
  color:#42BFD1;
  text-shadow:5px 5px 10px black;
}
.container2 {
  background:url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height:2200px;
}
.container2 img {
  height:200px;
  width:300px;
}
.site {
  padding-top:50px;
}
.last_section, .site4 {
  text-align:center;
  text-shadow:5px 5px 10px black;
  font-size: 3em;
}
.last_section a, .site4 a{
  color:#42BFD1;
}
/*****-------------------Pages parcours--------------------------**************/
          /*------------param gene----------*/
.section_cv, .section_open {
  background: url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 1650px;
  h3 {
    color:#42BFD1;
    text-shadow:5px 5px 10px black;
    padding-top: 50px;
  }
}
.section_logo {
  background: url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#42BFD1;
    text-shadow:5px 5px 10px black;
}

/* ------param gene section cv-----*/
.section_cv {
  margin-top: 20px;
}
.fa-file-text-o{
  margin-top: 50px;
}
.col-md-offset-4 {
  padding-top: 100px;
}
.title_cv {
  padding-top: 10%;
}
.btn a{
  color:#42BFD1;
}
.btn a:hover{
  text-decoration: none;
  color:#222222;
}
.btn a:active{
  color:#222222;
}
.btn {
  background-color: #222222;
}
.btn:hover {
  background-color: #42BFD1;
}

.arrow1 {
  text-align: center;
  padding-top: -50px;
}
.arrow1 .fa-arrow-down{
  font-size:2em;
}
          /*------------mise en page cv view gene--------*/
.panel5, .flip5 {
    padding: 5px;
    text-align: center;
}
.panel5 {
    display: none;
    margin-top: -40px;
}
.flip5 {
   margin-top:-10px;
}


    /*mise en page cv view 1ere colonne*/
.cv_grid p, h4, h1, h5 {
  color:white;
}
.deleguee, .croissanterie, .internity, .mcdo, .autre, .management, .informatique, .formation, .divers, .hobbies {
  border: 1px solid black;
  margin-bottom: 10px;
  box-shadow: -1px 1px 5px 1px white;
}
.exprience h5 {
  color:black;
  background-color: white;
}
.cv_grid h4 {
  padding-bottom: 5px;
}

/*-----------codecademy----------*/
.img_codecademy {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  margin-top: 2%;
}

.arrow2 .fa-arrow-down {
  font-size:2em;
}
.arrow2 .fa-arrow-up {
  font-size:2em;
}
.arrow2 {
  text-align: center;
  letter-spacing: 20px;
}
.codecademy h3 {
  padding-top: 10%;
}
.logo_langage2 img{
  display: block;
  margin:auto;
  padding-top: 20%;
}
.logo_langages {
  padding-top: 5%;
  img {
    display: block;
  margin:auto;
  }
}
              /*--------------section openClassRoom--------------*/
.img_open {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.section_open {
  padding-top:100px;
  padding-bottom: 100px;
}
.panel, .flip, .panel2, .flip2, .panel3, .flip3 {
    padding: 5px;
    text-align: center;
    border: solid 1px black;
    max-width: 600px;
    color: #42BFD1;
     box-shadow: -1px 2px 5px 1px #42BFD1; 
}
@media all {
    .panel {
      background: none;
    }
}
.panel, .panel2, .panel3 {
    padding: 50px;
    display: none;
    margin-bottom: 10px;
}
.panel img, .panel2 img, .panel3 img{
    width:400px;
    display: block;
  margin:auto
}
.flip, .flip2, .flip3 {
   border-radius: 5px 5px 0px 0px;
   margin-bottom: 10px;
}
.certif {
  padding-top: 50px;
}
.arrow3 {
  text-align: center;
}
.arrow3 .fa-arrow-up {
  font-size:2em;
}
/*---------------------------Page contact ------------------------------*/
.bground {
  background:url(https://pixabay.com/static/uploads/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1100px;
  margin-top: 20px;
}
.bground h1, h5 {
  color:#42BFD1;
}
.contact_head  {
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
  padding-top: 50px;
}

.fa {
font-size: 5em;
color:#42BFD1;
text-shadow:5px 5px 10px black;
text-align: center;
}
.contact1, .contact2, .contact3 {
  text-align: center;
  padding-top: 100px;
}
.panel4, .flip4 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel4 {
    display: none;
}
.flip4 {
   margin-top:-10px;
}
/*----------------------------- footer -----------------------------------*/
footer {
  /*border: 1px solid black;*/
  background-color: #222222;
  color: #42BFD1;
  /*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
  height:50px;
  text-align: center;
}
footer p{
text-transform: capitalize;
}
footer a {
  color: #42BFD1;
}
footer a:hover {
  color: black;
  text-decoration: none;
}
footer small {
  float: center;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
/*------------------navigation------------------------------------------*/
.navbar-inverse{
  border: hidden;
  background-color: #222222;
  opacity: 0.9;
}
.navbar-inverse .navbar-brand {
  color:#42BFD1;
  text-transform: uppercase;
  font-size: 1.7em;
}
.navbar-inverse .navbar-nav > li > a {
  color: #42BFD1; 
  letter-spacing: 3px;
  padding: 20px;
}

.nav > li:nth-child(1) > a:hover{
  color:black;
}
.nav > li:nth-child(2) > a:hover{
  color:black;
}
.nav > li:nth-child(3) > a:hover{
  color:black;
}
.nav > li:nth-child(4) > a:hover{
  color:black;
}
/*-------------media queries----------------*/

@media screen and (max-width: 1024px) {
.logo_langages {
  img {
  display: block;
  margin:auto;
  padding-top: 5%;
  }
}
.codecademy h3 {
  padding-top: 100px;
  }
.logo_langage2 img {
  display: block;
  margin:auto;
  padding-top:5%;
  }
.view {
  margin:20px;
  }
}

@media screen and (max-width: 768px) {
.jumbotron, .container1, .section_cv, .bground {
  margin-top: 70px;
  }
  .view {
  margin:40px;
  }
}
@media screen and (max-width: 640px) {
.jumbotron, .container1, .section_cv, .bground {
  margin-top: 10px
  }
  .view {
  margin:7px;
  }
  .jumbotron h1 {
    padding-top: 220px;
  }
  .cd-intro-content p {
    padding-top: 260px;
  }
  .title_cv{
    padding-top: 220px;
  }
  .contact_head h1 {
    padding-top: 180px;
  }
  .mon_parcours {
    max-height: 600px;
  }
  
}
@media screen and (max-width: 480px) {

.view {
  margin-left:80px;
  }
  .mon_parcours {
    max-height: 600px;
  }
}
@media screen and (max-width: 320px) {

.view {
  margin-left: 5px;
  }
  .mon_parcours {
    max-height: 600px;
  }
  #logo_boostrap {
    width:50px;
  }
}
/*---------------------test----------------------------*/








