@import "bootstrap-sprockets";
@import "bootstrap";

/*
    1   =>  Universal
    2   =>  Typography
    3   =>  Header
    4   =>  Footer
    5   =>  Page Contact
    6   =>  Navigation  
    7   =>  Page Parcours/section openclassroom
    8   =>  Page Parcours/section codecademy
    9   =>  Page Portfolio
    10  =>  Page home


/*--------------------------- universal----------------------------------- */

body {
  padding-top: 60px;
  font-family: 'Ubuntu', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

/* ----------------------------typography--------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3.0em;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
h3 {
  text-align: center;
  font-size: 2.4em;
}
h4 {
  font-size:1.8em;
  padding-top: 20px;
}

h5 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-transform: lowercase;
}
/* -------------------------header---------------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;}
    
#logo:hover {
  color: black;
  text-decoration: none;
}    

/*----------------------------- footer -----------------------------------*/
footer {
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: #222222;
  color: #42BFD1;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
footer a {
  color: #42BFD1;
}
footer a:hover {
  color: black;
  text-decoration: none;
}
footer small {
  float: center;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/*---------------------------Page contact ------------------------------*/
.bground {
  
  background-image: url('/images/white_blue.jpg');
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 1100px;
    .row {
      padding-top: 130px;
    }
  }

.row img {
  width:300px;
}

#github {
  padding-top: 90px;
  padding-left: 40px;
  width: 300px;
}

#bitbucket {
  width: 250px;
  padding-left: 40px;
  padding-top: 30px;
}

div.col-md-4:nth-child(1) {
  margin-top: 10px ;
}

#contact_head {
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  background-color: #222222;
  color: #42BFD1;
  height:190px;
}

.panel4, .flip4 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel4 {
    display: none;
    margin-top: -40px;
}
.flip4 {
   margin-top:-10px;
}

/*------------------navigation------------------------------------------*/
.navbar-inverse{
  border: hidden;
  background-color: #fff;
  opacity: 0.8;
}
#logo{
  color: #42BFD1;
}
.navbar-inverse .navbar-nav > li > a {
  color: #42BFD1; 
  letter-spacing: 3px;
  padding: 20px;
}

.nav > li:nth-child(1) > a:hover{
  color:black;
}
.nav > li:nth-child(2) > a:hover{
  color:black;
}
.nav > li:nth-child(3) > a:hover{
  color:black;
}
.nav > li:nth-child(4) > a:hover{
  color:black;
}

/*****-------------------Pages parcours--------------------------**************/

              /**---------partie cv----------***/
                    /*param general*/

.section_cv  h3 {
  background-color: #222222;
  color:#42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}
.section_cv {
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.foot_section {
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: #222222;
  color: #42BFD1;
  height:30px;
}
                      /*mise en page*/
.panel5, .flip5 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel5 {
    display: none;
    margin-top: -40px;
}
.flip5 {
   margin-top:-10px;
}
.logo_cv {
  width: 150px;
}
.panel5 {
  background: url('/images/dark_background.jpg')no-repeat fixed;
  color: #42BFD1;
  text-shadow:5px 5px 10px black;
  height: 1200px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}
.panel5 .col-md-4 p {
  text-transform: lowercase;
  text-shadow:5px 5px 10px #42BFD1;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color : black;

}
.panel5 .col-md-4 h6 {
  color:black;
  font-size:1.2em;
}
.panel5 h4{
  text-shadow:5px 5px 10px #42BFD1;
  color:black;
  padding-bottom: 20px;
}
.deleguee {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1;
}
.col-md-4 .exprience h4{
  margin-top: 20px;
}
.col-md-4 .divers h4 {
  margin-top: 27px;
}
.internity {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.croissanterie {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
 color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.mcdo {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
.autre {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:black;
  text-shadow:5px 5px 10px #42BFD1
}
              /*--------------section openClassRoom--------------*/
.section_open > h3:nth-child(1){
  background-color: #222222;
  color:#42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}

.img_open {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.img_codecademy {
  display: block;
  margin:auto;
  width:100px;
  border-radius: 5px;
}

.panel, .flip, .panel2, .flip2, .panel3, .flip3 {
    padding: 5px;
    text-align: center;
    border: solid 1px black;
    max-width: 600px;
    background-color: #222222;
    color: #42BFD1;
   
}
.panel, .panel2, .panel3 {
    padding: 50px;
    display: none;
    margin-bottom: 10px;
}
.flip, .flip2, .flip3 {
   border-radius: 5px 5px 0px 0px;
   margin-bottom: 10px;
}
.section_open {
  border-radius: 10px 10px 0px 0px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

                    /*-----------logo langages page parcours----------*/
.section_logo > h3:nth-child(1){
  background-color: #222222;
  color:#42BFD1;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
}
.img_codecademy{
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.logo_javascript{
  max-width: 110px;
  margin-top: -5px;
  height: 110px;
  
}
.logo_html5 {
  max-width: 100px;
  
}
.logo_css3 {
  max-width: 100px;
  
}
.logo_jquery {
  max-width: 100px;
  margin-top: 30px;
  
}
.logo_php5 {
  max-width: 80px;
  max-height: 110px;
}
.logo_ruby {
  max-width: 100px;
  margin-top: 30px;
}
.logo_ror {
  max-width: 100px;
  margin-top: 30px;
  max-height: 100px;
}
.logo_git {
  max-width: 100px;
  margin-top: 30px;
}
div.row:nth-child(6) {
  text-align: center;
}
.section_logo {
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
.foot_codecademy{
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: #222222;
  color: #42BFD1;
  height:30px;
}
/*-----------------Page Portfolio------------------------------------------------*/
.container1{
  width: 100%;
  height: 1100px;
  background-color: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
  border-radius: 10px 10px 0px 0px;
}
#portfolio_header{
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  background-color: #222222 ;
  color: #42BFD1;
  height: 190px;
}
.img_mystere{
  border-radius: 10px 0px 0px 0px;
}
/*-----------------------Page home----------------------------------------------*/

            /***------en tete----*****/

.entete {
  height: 800px;
  background: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/54.JPG)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    h1 {
      color:#42BFD1;
      padding-top: 300px;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
    }
  }

                  /****----presentation------****/
  .presentation {
    background-color: #48494E;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    padding-top: 5px;
    padding-bottom: 10px;
  }
                  /***-------Parcours------*****/
  .mon_parcours {
    height:400px;
    background: url('/images/road.jpg')
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.img_evolution_informatique {
  border-radius: 5px;
  width: 400px;
  opacity:0.8;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.mon_parcours h3 {
      padding-top:40px;
      color:#42BFD1;
      text-transform: uppercase;
      text-shadow:5px 5px 10px black;
}

.mon_parcours .col-md-6 {
    padding-top: 100px;
}
                        /***-------Outils------**/
.explications {
    background-color: #48494E;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color:#42BFD1;
    padding-top: 5px;
    padding-bottom: 10px;
}
.outil {
  margin-top: -20px;
  background: url('/images/bois.jpeg')
  no-repeat center center fixed; 
  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color:#42BFD1;
  .col-md-4{
    padding-top: 70px;
    text-align: center;
    color:black;
    img{
      width: 150px;
      height: 150px;
    }
  }
}
.outil h1 {
  padding-top: 50px;
  text-shadow:5px 5px 10px black;
  text-transform: uppercase;
}
.col-md-4 p {
  text-transform: uppercase;
  text-shadow:5px 5px 10px #42BFD1;
  font-weight: bold;
}

.logo_boostrap {
  max-width: 100px;
}
/*-------------test*/
/*@keyframes invader {
    0% {
        propriété_à_animer: valeur_initiale;
    }
    50% {
        propriété_à_animer: valeur_intermédiaire;
    }
    100% {
        propriété_à_animer: valeur_finale;
    }
}
#invader {
    animation-name: invader;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}*/

/*----------------------------------------------test2-------------------------------------*/
#invaders {
    position: absolute;
    -webkit-animation: invaders 10s 1 ease-in forwards;
    animation: invaders 10s 1 ease-in forwards;
    animation-duration: 10s;
        animation-timing-function: ease-in;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-name: invaders;
}
@keyframes invaders{
0% {
    bottom: -10%;
    left: 40%;
    -webkit-transform: rotate(-10deg);
}
40% {
    transform: rotate(0deg);
}
60% {
    transform: rotate(-8deg);
}
80% {
    transform: rotate(0deg);
}
100% {
    bottom: 110%;
    left: 40%;
    transform: rotate(8deg);
}
}



