<footer class="footer">
  <small>
    <p>© Tous droits réservés Julie Alary //  sauf le background de la page contact <a href='http://www.freepik.com/free-vector/striped-black-background_801315.htm'>par Freepik</a></p>
  </small>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
</footer>